# Project 5: Hospital Patient Records

### Problem Statement:
A hospital wants to analyze patient admission data for disease trends, length of stay, and patient demographics.

### Dataset Suggestion: Hospital Readmissions Dataset (Kaggle)

### Questions to Solve:

    - How many patients were admitted for each diagnosis?

    - Which age group has the highest admission rate?

    - What is the average length of stay in the hospital?

    - Which department sees the most patients?

    - Is there a gender difference in admission trends?

In [1]:
import pandas as pd

In [3]:
pd.set_option('display.max_columns', None)
hospital_data = pd.read_csv('data/HDHI Admission data.csv')
hospital_data.head()

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,OUTCOME,SMOKING,ALCOHOL,DM,HTN,CAD,PRIOR CMP,CKD,HB,TLC,PLATELETS,GLUCOSE,UREA,CREATININE,BNP,RAISED CARDIAC ENZYMES,EF,SEVERE ANAEMIA,ANAEMIA,STABLE ANGINA,ACS,STEMI,ATYPICAL CHEST PAIN,HEART FAILURE,HFREF,HFNEF,VALVULAR,CHB,SSS,AKI,CVA INFRACT,CVA BLEED,AF,VT,PSVT,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,2,DISCHARGE,0,0,1,0,0,0,0,9.5,16.1,337,80,34,0.9,1880,1,35,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,2,DISCHARGE,0,1,0,1,1,0,0,13.7,9,149,112,18,0.9,NaN,0,42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,3,DISCHARGE,0,0,1,0,1,0,0,10.6,14.7,329,187,93,2.3,210,0,NaN,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,6,DISCHARGE,0,0,0,1,1,0,0,12.8,9.9,286,130,27,0.6,NaN,0,42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,9,DISCHARGE,0,0,0,1,0,1,0,13.6,9.1,26,144,55,1.25,1840,0,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
hospital_data.describe()

,SNO,AGE,DURATION OF STAY,duration of intensive unit stay,SMOKING,ALCOHOL,DM,HTN,CAD,PRIOR CMP,CKD,RAISED CARDIAC ENZYMES,SEVERE ANAEMIA,ANAEMIA,STABLE ANGINA,ACS,STEMI,ATYPICAL CHEST PAIN,HEART FAILURE,HFREF,HFNEF,VALVULAR,CHB,SSS,AKI,CVA INFRACT,CVA BLEED,AF,VT,PSVT,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM
count,15757.000000,15757.000000,15757.000000,15757.00000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000,15757.000000
mean,7879.000000,61.426160,6.415054,3.80377,0.050327,0.064797,0.323475,0.485879,0.669607,0.154471,0.098369,0.198134,0.019356,0.176874,0.081805,0.365742,0.139747,0.025576,0.289459,0.153646,0.136574,0.035032,0.026147,0.006791,0.222377,0.029447,0.004252,0.050771,0.032938,0.007552,0.010472,0.061877,0.008377,0.007870,0.001840,0.013264,0.059910,0.046646,0.015358
std,4548.798431,13.420862,5.011421,4.01564,0.218625,0.246174,0.467817,0.499816,0.470369,0.361411,0.297822,0.398606,0.137779,0.381574,0.274076,0.481653,0.346736,0.157871,0.453526,0.360621,0.343408,0.183867,0.159578,0.082128,0.415857,0.169062,0.065071,0.219537,0.178479,0.086577,0.101797,0.240940,0.091146,0.088363,0.042862,0.114406,0.237327,0.210886,0.122977
min,1.000000,4.000000,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3940.000000,54.000000,3.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7879.000000,62.000000,5.000000,3.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,11818.000000,70.000000,8.000000,5.00000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,15757.000000,110.000000,98.000000,58.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
hospital_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15757 entries, 0 to 15756
Data columns (total 56 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   SNO                              15757 non-null  int64
 1   MRD No.                          15757 non-null  object
 2   D.O.A                            15757 non-null  object
 3   D.O.D                            15757 non-null  object
 4   AGE                              15757 non-null  int64
 5   GENDER                           15757 non-null  object
 6   RURAL                            15757 non-null  object
 7   TYPE OF ADMISSION-EMERGENCY/OPD  15757 non-null  object
 8   month year                       15757 non-null  object
 9   DURATION OF STAY                 15757 non-null  int64
 10  duration of intensive unit stay  15757 non-null  int64
 11  OUTCOME                          15757 non-null  object
 12  SMOKING                          15757 non-null  int64
 13  ALCOHOL                          15757 non-null  int64
 14  DM                               15757 non-null  int64
 15  HTN                              15757 non-null  int64
 16  CAD                              15757 non-null  int64
 17  PRIOR CMP                        15757 non-null  int64
 18  CKD                              15757 non-null  int64
 19  HB                               15505 non-null  object
 20  TLC                              15471 non-null  object
 21  PLATELETS                        15472 non-null  object
 22  GLUCOSE                          14894 non-null  object
 23  UREA                             15516 non-null  object
 24  CREATININE                       15510 non-null  object
 25  BNP                              7316 non-null   object
 26  RAISED CARDIAC ENZYMES           15757 non-null  int64
 27  EF                               14252 non-null  object
 28  SEVERE ANAEMIA                   15757 non-null  int64
 29  ANAEMIA                          15757 non-null  int64
 30  STABLE ANGINA                    15757 non-null  int64
 31  ACS                              15757 non-null  int64
 32  STEMI                            15757 non-null  int64
 33  ATYPICAL CHEST PAIN              15757 non-null  int64
 34  HEART FAILURE                    15757 non-null  int64
 35  HFREF                            15757 non-null  int64
 36  HFNEF                            15757 non-null  int64
 37  VALVULAR                         15757 non-null  int64
 38  CHB                              15757 non-null  int64
 39  SSS                              15757 non-null  int64
 40  AKI                              15757 non-null  int64
 41  CVA INFRACT                      15757 non-null  int64
 42  CVA BLEED                        15757 non-null  int64
 43  AF                               15757 non-null  int64
 44  VT                               15757 non-null  int64
 45  PSVT                             15757 non-null  int64
 46  CONGENITAL                       15757 non-null  int64
 47  UTI                              15757 non-null  int64
 48  NEURO CARDIOGENIC SYNCOPE        15757 non-null  int64
 49  ORTHOSTATIC                      15757 non-null  int64
 50  INFECTIVE ENDOCARDITIS           15757 non-null  int64
 51  DVT                              15757 non-null  int64
 52  CARDIOGENIC SHOCK                15757 non-null  int64
 53  SHOCK                            15757 non-null  int64
 54  PULMONARY EMBOLISM               15757 non-null  int64
 55  CHEST INFECTION                  15757 non-null  object
dtypes: int64(39), object(17)
memory usage: 6.7+ MB

In [6]:
hospital_data.shape

(15757, 56)

In [7]:
hospital_data.size

882392

In [8]:
hospital_data.head(3)

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,OUTCOME,SMOKING,ALCOHOL,DM,HTN,CAD,PRIOR CMP,CKD,HB,TLC,PLATELETS,GLUCOSE,UREA,CREATININE,BNP,RAISED CARDIAC ENZYMES,EF,SEVERE ANAEMIA,ANAEMIA,STABLE ANGINA,ACS,STEMI,ATYPICAL CHEST PAIN,HEART FAILURE,HFREF,HFNEF,VALVULAR,CHB,SSS,AKI,CVA INFRACT,CVA BLEED,AF,VT,PSVT,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,2,DISCHARGE,0,0,1,0,0,0,0,9.5,16.1,337,80,34,0.9,1880,1,35,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,2,DISCHARGE,0,1,0,1,1,0,0,13.7,9,149,112,18,0.9,NaN,0,42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,3,DISCHARGE,0,0,1,0,1,0,0,10.6,14.7,329,187,93,2.3,210,0,NaN,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
# Which age group has the highest admission rate?

group_by_age = hospital_data.groupby('AGE')
group_by_age.head()

,SNO,MRD No.,D.O.A,D.O.D,AGE,GENDER,RURAL,TYPE OF ADMISSION-EMERGENCY/OPD,month year,DURATION OF STAY,duration of intensive unit stay,OUTCOME,SMOKING,ALCOHOL,DM,HTN,CAD,PRIOR CMP,CKD,HB,TLC,PLATELETS,GLUCOSE,UREA,CREATININE,BNP,RAISED CARDIAC ENZYMES,EF,SEVERE ANAEMIA,ANAEMIA,STABLE ANGINA,ACS,STEMI,ATYPICAL CHEST PAIN,HEART FAILURE,HFREF,HFNEF,VALVULAR,CHB,SSS,AKI,CVA INFRACT,CVA BLEED,AF,VT,PSVT,CONGENITAL,UTI,NEURO CARDIOGENIC SYNCOPE,ORTHOSTATIC,INFECTIVE ENDOCARDITIS,DVT,CARDIOGENIC SHOCK,SHOCK,PULMONARY EMBOLISM,CHEST INFECTION
0,1,234735,4/1/2017,4/3/2017,81,M,R,E,Apr-17,3,2,DISCHARGE,0,0,1,0,0,0,0,9.5,16.1,337,80,34,0.9,1880,1,35,0,1,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,234696,4/1/2017,4/5/2017,65,M,R,E,Apr-17,5,2,DISCHARGE,0,1,0,1,1,0,0,13.7,9,149,112,18,0.9,NaN,0,42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,3,234882,4/1/2017,4/3/2017,53,M,U,E,Apr-17,3,3,DISCHARGE,0,0,1,0,1,0,0,10.6,14.7,329,187,93,2.3,210,0,NaN,0,0,0,0,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,234635,4/1/2017,4/8/2017,67,F,U,E,Apr-17,8,6,DISCHARGE,0,0,0,1,1,0,0,12.8,9.9,286,130,27,0.6,NaN,0,42,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,5,234486,4/1/2017,4/23/2017,60,F,U,E,Apr-17,23,9,DISCHARGE,0,0,0,1,0,1,0,13.6,9.1,26,144,55,1.25,1840,0,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12842,12843,626485,10/12/2018,13/12/2018,7,F,U,O,Dec-18,4,0,DISCHARGE,0,0,0,0,0,0,0,11.9,7.3,244,70,37,0.3,NaN,0,60,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
13379,13380,645033,01/01/2019,09/01/2019,11,F,U,O,Jan-19,9,0,DISCHARGE,0,0,0,0,0,0,0,13,5.7,152,78,18,0.5,NaN,0,60,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14676,14677,542943,17/02/2019,19/02/2019,110,M,U,O,Feb-19,3,3,DISCHARGE,0,0,0,0,1,0,1,11.4,5.3,188,NaN,190,3.1,1130,0,32,0,0,0,0,0,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
15626,15627,502725,25/03/2019,27/03/2019,11,F,U,O,Mar-19,3,0,DISCHARGE,0,0,1,0,0,0,0,10.5,6.5,322,92,16,0.3,NaN,0,52,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
15627,15628,502725,25/03/2019,27/03/2019,11,F,U,O,Mar-19,3,0,DISCHARGE,0,0,0,0,0,0,0,10.5,6.5,322,92,16,0.3,NaN,0,52,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0

In [ ]:
'''Which age group has the highest admission rate?

What is the average length of stay in the hospital?

Which department sees the most patients?

Is there a gender difference in admission trends?

'''

In [14]:
bins = [0, 18, 35, 50, 65, 120]
labels = ['0-18', '19-35', '36-50', '51-65', '66+']

In [16]:
# Create AgeGroup column
hospital_data['AgeGroup'] = pd.cut(hospital_data['AGE'], bins=bins, labels=labels, right=False)

# Count admissions per age group
age_group_counts = hospital_data['AgeGroup'].value_counts().sort_index()

print(age_group_counts)

# Get the age group with the highest admission rate
highest_group = age_group_counts.idxmax()
print(f"Age group with highest admissions: {highest_group}")

0-18       56
19-35     520
36-50    1980
51-65    6307
66+      6894
Name: AgeGroup, dtype: int64
Age group with highest admissions: 66+