# Project 3: Weather Data Analysis

## Problem Statement:
A meteorology department wants to study weather patterns, rainfall trends, and seasonal averages.

### Dataset Suggestion: Daily Weather Dataset (Kaggle)

### Questions to Solve:

    - Find the hottest and coldest day in the dataset.

    - What is the average monthly temperature?

    - Which year had the highest rainfall?

    - Create a new column for temperature difference (MaxTemp - MinTemp).

    - Are there more rainy days in summer or winter?

In [1]:
import pandas as pd

In [2]:
weather_data = pd.read_csv('data/weatherHistory.csv')

weather_data

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.
...,...,...,...,...,...,...,...,...,...,...,...,...
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [3]:
weather_data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [4]:
weather_data.tail()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
96448,2016-09-09 19:00:00.000 +0200,Partly Cloudy,rain,26.016667,26.016667,0.43,10.9963,31.0,16.1000,0.0,1014.36,Partly cloudy starting in the morning.
96449,2016-09-09 20:00:00.000 +0200,Partly Cloudy,rain,24.583333,24.583333,0.48,10.0947,20.0,15.5526,0.0,1015.16,Partly cloudy starting in the morning.
96450,2016-09-09 21:00:00.000 +0200,Partly Cloudy,rain,22.038889,22.038889,0.56,8.9838,30.0,16.1000,0.0,1015.66,Partly cloudy starting in the morning.
96451,2016-09-09 22:00:00.000 +0200,Partly Cloudy,rain,21.522222,21.522222,0.60,10.5294,20.0,16.1000,0.0,1015.95,Partly cloudy starting in the morning.
96452,2016-09-09 23:00:00.000 +0200,Partly Cloudy,rain,20.438889,20.438889,0.61,5.8765,39.0,15.5204,0.0,1016.16,Partly cloudy starting in the morning.

In [5]:
weather_data.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [6]:
weather_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

1. Find the hotest and coldest date

In [8]:
sorted_data = weather_data.sort_values(by="Temperature (C)", ascending=False)
sorted_data.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
12759,2007-07-22 15:00:00.000 +0200,Clear,rain,39.905556,37.538889,0.13,23.5865,250.0,9.9820,0.0,1007.55,Partly cloudy starting in the afternoon.
12737,2007-07-21 17:00:00.000 +0200,Partly Cloudy,rain,39.588889,37.600000,0.15,12.2038,283.0,10.3523,0.0,1010.24,Partly cloudy starting in the morning continui...

In [9]:
sorted_data.tail(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
55490,2012-02-09 02:00:00.000 +0100,Foggy,snow,-21.111111,-21.111111,0.74,3.2200,200.0,1.9320,0.0,1034.30,Foggy until morning.
54847,2012-02-10 07:00:00.000 +0100,Foggy,snow,-21.822222,-21.822222,0.80,3.0751,323.0,1.3685,0.0,1033.66,Foggy starting in the morning continuing until...

In [13]:
hottest = list(sorted_data.head(1)['Formatted Date'])[0]
coldest = list(sorted_data.tail(1)['Formatted Date'])[0]

In [16]:
print(f'The hottest date is {hottest} and coldest date is {coldest}')

The hottest date is 2007-07-22 15:00:00.000 +0200 and coldest date is 2012-02-10 07:00:00.000 +0100

## 2. What is the average monthly temperature?

In [23]:
sorted_data.groupby(['Formatted Date'])["Temperature (C)"].mean()

Formatted Date
2006-01-01 00:00:00.000 +0100    0.577778
2006-01-01 01:00:00.000 +0100    1.161111
2006-01-01 02:00:00.000 +0100    1.666667
2006-01-01 03:00:00.000 +0100    1.711111
2006-01-01 04:00:00.000 +0100    1.183333
                                   ...
2016-12-31 19:00:00.000 +0100    0.488889
2016-12-31 20:00:00.000 +0100    0.072222
2016-12-31 21:00:00.000 +0100   -0.233333
2016-12-31 22:00:00.000 +0100   -0.472222
2016-12-31 23:00:00.000 +0100   -0.677778
Name: Temperature (C), Length: 96429, dtype: float64

In [27]:
monthly_avg = weather_data.groupby('Formatted Date')["Temperature (C)"].mean()

monthly_avg

Formatted Date
2006-01-01 00:00:00.000 +0100    0.577778
2006-01-01 01:00:00.000 +0100    1.161111
2006-01-01 02:00:00.000 +0100    1.666667
2006-01-01 03:00:00.000 +0100    1.711111
2006-01-01 04:00:00.000 +0100    1.183333
                                   ...
2016-12-31 19:00:00.000 +0100    0.488889
2016-12-31 20:00:00.000 +0100    0.072222
2016-12-31 21:00:00.000 +0100   -0.233333
2016-12-31 22:00:00.000 +0100   -0.472222
2016-12-31 23:00:00.000 +0100   -0.677778
Name: Temperature (C), Length: 96429, dtype: float64

#### 4. Which year had the highest rainfall?

In [35]:
weather_data.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [43]:
sorted_by_humidity = weather_data.sort_values(by="Humidity", ascending=False)
sorted_by_humidity[sorted_by_humidity['Precip Type'] == 'rain']
sorted_by_humidity.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
66909,2013-03-25 21:00:00.000 +0100,Overcast,snow,-0.094444,-5.438889,1.0,20.7046,40.0,3.9284,0.0,1005.98,Foggy starting in the afternoon continuing unt...
33192,2009-11-20 01:00:00.000 +0100,Foggy,rain,5.205556,3.855556,1.0,6.3917,112.0,0.1610,0.0,1030.17,Foggy throughout the day.
40083,2010-06-06 03:00:00.000 +0200,Partly Cloudy,rain,11.577778,11.577778,1.0,6.1502,340.0,14.9086,0.0,1019.92,Partly cloudy starting overnight.
40084,2010-06-06 04:00:00.000 +0200,Partly Cloudy,rain,11.505556,11.505556,1.0,6.2951,330.0,8.1305,0.0,1019.82,Partly cloudy starting overnight.
63727,2013-02-14 07:00:00.000 +0100,Foggy,rain,2.816667,0.950000,1.0,6.8103,11.0,1.3041,0.0,1018.26,Foggy in the morning.

In [66]:
weather_data['Formatted Date'].head(200).astype('datetime64[Y]').dt.to_period('M')

0      2006-01
1      2006-01
2      2006-01
3      2006-01
4      2006-01
        ...
195    2006-01
196    2006-01
197    2006-01
198    2006-01
199    2006-01
Name: Formatted Date, Length: 200, dtype: period[M]

In [45]:
sorted_by_humidity = weather_data.sort_values(by="Humidity", ascending=False)
sorted_by_humidity = sorted_by_humidity[sorted_by_humidity['Precip Type'] == 'rain']
sorted_by_humidity.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
33192,2009-11-20 01:00:00.000 +0100,Foggy,rain,5.205556,3.855556,1.0,6.3917,112.0,0.1610,0.0,1030.17,Foggy throughout the day.
40083,2010-06-06 03:00:00.000 +0200,Partly Cloudy,rain,11.577778,11.577778,1.0,6.1502,340.0,14.9086,0.0,1019.92,Partly cloudy starting overnight.
40084,2010-06-06 04:00:00.000 +0200,Partly Cloudy,rain,11.505556,11.505556,1.0,6.2951,330.0,8.1305,0.0,1019.82,Partly cloudy starting overnight.
63727,2013-02-14 07:00:00.000 +0100,Foggy,rain,2.816667,0.950000,1.0,6.8103,11.0,1.3041,0.0,1018.26,Foggy in the morning.
63726,2013-02-14 06:00:00.000 +0100,Foggy,rain,2.711111,2.711111,1.0,3.3327,20.0,2.0769,0.0,1017.94,Foggy in the morning.

In [46]:
sorted_by_humidity.tail()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
12615,2007-07-17 15:00:00.000 +0200,Clear,rain,37.777778,35.388889,0.14,17.4202,210.0,9.9820,0.0,1015.04,Clear throughout the day.
12713,2007-07-20 17:00:00.000 +0200,Partly Cloudy,rain,38.788889,36.477778,0.14,10.5938,153.0,10.3523,0.0,1011.77,Partly cloudy starting in the afternoon contin...
12759,2007-07-22 15:00:00.000 +0200,Clear,rain,39.905556,37.538889,0.13,23.5865,250.0,9.9820,0.0,1007.55,Partly cloudy starting in the afternoon.
58164,2012-03-26 13:00:00.000 +0200,Partly Cloudy,rain,13.888889,13.888889,0.12,28.9800,10.0,9.9820,0.0,1028.00,Partly cloudy starting in the morning continui...
29627,2009-01-25 11:00:00.000 +0100,Foggy,rain,1.111111,-3.950000,0.00,20.9300,350.0,0.1610,0.0,1000.10,Foggy starting overnight continuing until afte...

In [58]:
weather_data.size

1157436