# Numpy

In [29]:
import numpy as np

In [30]:
np

In [31]:
a = np.array([23, 3, 2, 4, 2, 4])
a

array([23,  3,  2,  4,  2,  4])

In [32]:
type(a)

numpy.ndarray

In [33]:
a.size

6

In [34]:
a.shape

(6,)

In [35]:
# axis 0 => row, axis 1 => column axis n =>  axis

In [36]:
a.ndim

1

In [37]:
b = np.array([[23, 3, 4,5], [56, 4, 8, 5]])

In [38]:
b.ndim

2

In [39]:
b.shape

(2, 4)

In [40]:
import pandas as pd

In [41]:
df = pd.DataFrame(b)
df

    0  1  2  3
0  23  3  4  5
1  56  4  8  5

In [2]:
import numpy as np

In [3]:
np.array([9, 4, 2, list(range(20))])

/tmp/ipykernel_23933/1216586182.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  np.array([9, 4, 2, list(range(20))])

array([9, 4, 2,
       list([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])],
      dtype=object)